#my-teammates {
    .data {
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
        margin-top: 12px;
        padding: $padding-base-vertical $padding-base-horizontal;

        td {
            vertical-align: middle;

            &.action .btn {
                min-width: 80px;
            }
        }
        .photo {
            @include square(32px);
            border-radius: 100%;
        }
    }
}